apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - argocd-project.yaml
  - namespace.yaml
  - storageclass.yaml
  - pv.yaml
  - pvc.yaml
  - secret.yaml
  - mariadb.yaml
  - redis.yaml
  - nextcloud.yaml
  - cron.yaml
  - service.yaml
  - ingress.yaml

generatorOptions:
  disableNameSuffixHash: true

